@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3c6229;
    border-radius: 25px;
  }

  .text-balance {
    text-wrap: balance;
  }

  .border-border {
    border-color: hsl(var(--border));
  }
}

@layer components {
  .fc .fc-toolbar-ltr {
    @apply m-0 !important;
  }

  .fc .fc-button-group .fc-button-active {
    @apply bg-white border-none text-black font-semibold;
  }

  .fc .fc-button-primary {
    @apply bg-white border-0 rounded-lg text-2xl text-black font-semibold hover:bg-white hover:text-black active:bg-white active:text-black focus:bg-white focus:text-black focus:outline-none;
  }

  .fc .fc-nextReservation-button {
    @apply bg-white border rounded-lg text-base text-black font-semibold hover:bg-white hover:text-black active:bg-white active:text-black focus:bg-white focus:text-black focus:outline-none;
  }

  .fc-button:empty {
    @apply hidden;
  }

  .fc .fc-scrollgrid-sync-inner {
    @apply bg-[#F2F8ED];
  }

  .fc .fc-timegrid-axis {
    @apply bg-[#F2F8ED];
  }

  .fc .fc-timegrid-slot-lane {
    @apply bg-white;
  }

  .fc .fc-prev-button,
  .fc .fc-next-button {
    @apply text-[12px];
  }
}

@layer base {
  :root {
    --background: 96, 43%, 73%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 96, 43%, 73%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: "Pretendard-Regular";
  }
}

.image-selector {
  @apply cursor-pointer w-36 h-36 rounded-full border border-gray-300 flex flex-col items-center justify-center bg-gray-100 relative overflow-hidden;
}

.image-selector-background {
  @apply absolute inset-0 bg-[length:20px_20px] bg-[linear-gradient(45deg,#e0e0e0_25%,transparent_25%),linear-gradient(-45deg,#e0e0e0_25%,transparent_25%),linear-gradient(45deg,transparent_75%,#e0e0e0_75%),linear-gradient(-45deg,transparent_75%,#e0e0e0_75%)];
}

.image-selector-content {
  @apply relative z-10 flex flex-col items-center;
}

.image-selector-icon {
  @apply text-gray-600 text-3xl;
}

.image-selector-text {
  @apply text-gray-600 text-sm;
}

.input-content {
  @apply focus:outline-none cursor-pointer w-full p-2 bg-[#fff] border border-[#D1D1D1] text-[#3A3A3A] focus:bg-[#F2F8ED] focus:border-[#B4D89C] rounded-md text-sm;
}
